* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
  }
   
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: transparent; */
  }

  /* section {
    padding: 0 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../images/hero_1.png);
  } */
  
  .loginBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: none;
  }
   
  .login-form {
      position: absolute;
      background: #fff;
      width: 300px;
      height: 400px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      
  }
   
  .text-field {
        font-size: 14px;
        padding: 10px;
        border: none;
        width: 260px;
        margin-bottom: 10px;
  }
   
  .submit-btn {
    font-size: 14px;
    border: none;
    padding: 10px;
    width: 260px;
    background-color: #1BBC9B;
    margin-bottom: 30px;
    color: white;
  }
   
  .links {
      text-align: center;
  }
   
  .links a {
    font-size: 12px;
    color: #9B9B9B;
  }

  .login-form .loginApi {
    width: 250px;
    height: 45px;
  }
  
  .fa-regular .fa-x {
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
    color: white;
  }